<footer id="footer">
  <div id="logo">
    Mater Filioque
  </div>
  <nav>
    <ul>
      <li><%= link_to "Landing", root_path %></li>
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "The Mother", mother_path %></li>
      <li><%= link_to "The Son", son_path %></li>
      <li><%= link_to "Their Relationship", relationship_path %></li>
      <li><%= link_to "Photos", photos_path %></li>
    </ul>
  </nav>
</footer>