<!DOCTYPE html>
<html>
	<head>
	  <!-- main_message located in spec/support/utilities.rb-->
	  <title><%= "HAPPY 50th BIRTHDAY!" %></title>
	  <%= stylesheet_link_tag    "application", media: "all",
	                                            "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/shim' %>
	</head>
	<body>
		<div class="container">
			<%= yield %>
		</div>
		<%= render 'layouts/footer' %>
	</body>
</html>